In [1]:
import pandas as pd

In [25]:
# Read the Stata file into a pandas DataFrame
# df = pd.read_stata('Gallup_World_Poll_Wave_11_18_021524.dta')
# Encountered MemoryError: Unable to allocate 5.50 GiB for an array with shape (628, 1175554) and data type float64

In [4]:
# Due to memory error above, read in chuncks.
# Specify the chunksize (e.g., 10,000 rows at a time)
chunksize = 10000

# Initialize an empty list to store the chunks
chunks = []

# Read the file in chunks and append them to the list
for chunk in pd.read_stata('Gallup_World_Poll_Wave_11_18_021524.dta', convert_categoricals=False, chunksize=chunksize):
    chunks.append(chunk)

# Concatenate the chunks into a single DataFrame
df = pd.concat(chunks, ignore_index=True)

# Now you can work with the DataFrame
print(df.shape)

(1175554, 650)

In [5]:
# Check the data structure
print(f'Number of columns: {df.shape[1]}')
print(f'Number of observations: {df.shape[0]}')

Number of columns: 650
Number of observations: 1175554

In [26]:
# Check column names
df.columns

Index(['WP5889', 'WP5', 'wave', 'wpid', 'WPID_RANDOM', 'wgt', 'FIELD_DATE',
       'COUNTRY_ISO2', 'COUNTRY_ISO3', 'countrynew',
       ...
       'WP9608', 'WP97', 'WP9700', 'WP9701', 'WP9707', 'WP98', 'WP9811',
       'WP99', 'YEAR_CALENDAR', 'YEAR_WAVE'],
      dtype='object', length=650)

In [27]:
# Access columns
# Note: refer to "Gallup_WorldPoll_Codebook_04112023.log" and "World_Poll_Methodology_021524.pdf" for questions and codes.
print(df[['wpid', 'wgt', 'YEAR_WAVE', 'WP130', 'WP1219', 'WP1220', 'WP1223', 'WP2319', 'countrynew', 'INCOME_4', 'WP93', 'WP129', 'INDEX_YD']])

                 wpid       wgt  YEAR_WAVE  WP130  WP1219  WP1220  WP1223  \
0        1.110010e+13  2.214427       2016    2.0       2    25.0     1.0
1        1.110010e+13  1.035961       2016    NaN       2    26.0     1.0
2        1.110010e+13  0.766034       2016    2.0       1    25.0     2.0
3        1.110010e+13  0.311334       2016    NaN       1    72.0     2.0
4        1.110010e+13  0.311334       2016    1.0       1    72.0     2.0
...               ...       ...        ...    ...     ...     ...     ...
1175549  1.812020e+13  1.679934       2023    2.0       1    46.0     4.0
1175550  1.812020e+13  0.245293       2023    2.0       1    51.0     2.0
1175551  1.812020e+13  0.245293       2023    2.0       1    40.0     2.0
1175552  1.812020e+13  0.356121       2023    1.0       1    36.0     2.0
1175553  1.812020e+13  0.313920       2023    2.0       1    51.0     1.0

         WP2319       countrynew       INCOME_4  WP93  WP129   INDEX_YD
0             1    United States   24000.000000   NaN    1.0        NaN
1             3    United States  516000.000000   2.0    NaN        NaN
2             1    United States   16000.000000   NaN    1.0        NaN
3             1    United States   42000.000000   1.0    NaN        NaN
4             1    United States   72000.000000   NaN    1.0        NaN
...         ...              ...            ...   ...    ...        ...
1175549       3  Northern Cyprus   11316.596966   2.0    1.0  33.333333
1175550       2  Northern Cyprus   25462.343173   2.0    2.0   0.000000
1175551       2  Northern Cyprus   10609.309655   1.0    1.0  66.666667
1175552       2  Northern Cyprus   42437.238621   3.0    2.0  33.333333
1175553       2  Northern Cyprus   59412.134070   3.0    1.0  33.333333

[1175554 rows x 13 columns]

In [28]:
# Check data, if needed
df['YEAR_WAVE'].value_counts()

2019    176253
2017    155166
2018    152874
2016    150724
2022    143686
2023    140475
2020    129474
2021    126902
Name: YEAR_WAVE, dtype: int64

In [29]:
# Extract the requested columns
new_df = df[['wpid', 'wgt', 'YEAR_WAVE', 'WP130', 'WP1219', 'WP1220', 'WP1223', 'WP2319', 'countrynew', 'INCOME_4', 'WP93', 'WP129', 'INDEX_YD']]

# Export the new DataFrame to a CSV file
new_df.to_csv('new_data.csv', index=False)

In [30]:
new_df.shape

(1175554, 13)